.App {
  text-align: center;
}
.header {
  border: solid 60px #ff3c00;
  background-color: #ff3c00;
  font-weight: bold;
}
.footer{
  border: solid 60px grey;
  background-color: grey;
  font-weight: bold;
}
.Nav{
  background-color: #ff7600;
  width: 100px;
}
.Sidebar{
  width:100px;
  background-color: #ff9d00;
}
.Main{
  width:80%;
  background-color: #ffb366;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
